.album {
	display: flex;
	margin-bottom: 20px;
}

.album-info {
	width: 49%;
	padding-right: 10px;
}

.release-date {
	font-size: 0.8em;
}

.album-info h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 1.2em;
}

.album-cover {
	max-width: 600px;
	width: 100%;
	display: block;
}

.show-buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.show-button {
	padding: 10px;
	background-color: white;
	font-size: 1em;
}

.show-button:hover {
	background-color: white;
}

.show-tracks {
	width: 130px;
}

.show-fact {
	width: 145px;
}

@media only screen and (max-width: 1200px) {
	.album-info {
		width: 600px;
	}
	.album-cover {
		width: 600px;
	}
}
