@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");

html,
* {
	box-sizing: content-box;
}

body {
	font-family: Montserrat;
	width: 100%;
	margin: 0;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

h2 {
	font-size: 2em;
	margin-top: 0;
}

button {
	font-family: Montserrat;
	border: none;
}

button:hover {
	font-weight: 600;
	cursor: pointer;
}
